@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap');
:root {
    --main-color: #090909;
    --secondary-color: #111111;
    --color-1: #1F9CE4;
    --color-2: #3858f6;
    /*neon colors*/
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100vh;
}

[id] {
    scroll-margin-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    /* padding-top: 60px;*/
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* nav*/

.header {
    background-color: var(--main-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background-color: var(--color-1);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: var(--color-2);
    font-weight: 500;
    font-size: 14pt;
    transition: 0.2s;
}

.nav-logo {
    font-weight: 500;
    font-size: 20pt;
    padding: 5px;
    color: var(--color-1);
}


/* end nav*/


/* .topnav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
    font-size: 18pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    font-weight: 500;
    font-size: 20pt;
    padding: 5px;
}

.nav-items a {
    font-size: 14pt;
    margin: 0px 10px;
    padding: 7px;
    font-weight: 200;
    transition: 0.1s;
}

.nav-items a:hover {
    color: var(--color-2);
    font-weight: 500;
    font-size: 16pt;
}

.nav-item-active {
    font-weight: 500;
    color: var(--color-1);
}

.hamburger {
    display: none;
    margin-top: 1rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
} */

.div-content {
    background-color: #414040;
    height: 100%;
    width: 100%;
    padding: 5rem 7rem;
    color: var(--color-1);
}

#home {
    background-image: radial-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.88), black), url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.home-text h1 {
    font-size: 40pt;
    margin: 20px 0;
}

.home-text strong {
    color: var(--color-1);
}

.home-text p {
    font-size: 20pt;
}

.btn-github {
    width: max-content;
    padding: 0.8rem;
    margin: 2rem 0;
    background-color: var(--color-1);
    border: 2px solid transparent;
    border-radius: 0.7rem;
    transition: 0.2s;
}

.btn-github:hover {
    background-color: transparent;
    border: 2px solid #FFF;
}

#about {
    background-color: var(--secondary-color);
    text-align: center;
}

#about h1 {
    color: var(--color-1);
}

.about-info {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.about-info img {
    width: 10em;
}

.about-info h1 {
    color: var(--color-1);
    font-size: 14pt;
}

@media only screen and (max-width:768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--main-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}